<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ToDo list</title>
    <link href="/style/style.css" rel="stylesheet"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src = script/script.js></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Description</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task,number : ${tasks}">
                <td th:text="${task.id}"/>
                <td th:text="${task.description}" th:id = "'descciption_' + ${task.id}"/>
                <td span th:text="${task.status}" th:id = "'status_' + ${task.id}"/>
                <td>
                    <button th:id="'edit_' + ${task.id}" th:onclick="'edit_task(' + ${task.id} + ')'">Edit</button>
                </td>
                <td>
                    <button th:id="'delete_' + ${task.id}" th:onclick="'delete_task(' + ${task.id} + ')'">Delete</button>
                </td>
            </tr>

            <tr>
                <td colspan = "3" class="text_bold">Add new task: </td>
            </tr>
            <tr>
                <td>-</td>
                <td>
                    <input id = 'description_new' type='text' value=''>
                </td>
                <td>
                    <label for='status_new'></label>
                    <select id='status_new'>
                        <option value='IN_PROGRESS'>IN_PROGRESS</option>
                        <option value='DONE'>DONE</option>
                        <option value='PAUSED'>PAUSED</option>
                    </select>
                </td>
                <td>
                    <button id='safe_id' onclick='add_task()'>Safe</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>
        <button th:each="pageNumber : ${page_numbers}" class="button_page">
            <a th:href="@{/(page=${pageNumber}, limit = 10)}" th:text="${pageNumber}" th:classappend="${pageNumber == current_page? 'active_page' : ''}"></a>
        </button>
    </h2>
</body>
</html>